apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: node-exporter
  namespace: infra
spec:
  selector:
    matchLabels:
      app: node-exporter
  template:
    metadata:
      labels:
        app: node-exporter
    spec:
      hostPID: true
      hostIPC: true
      hostNetwork: true
      containers:
        - name: node-exporter
          image: prom/node-exporter:v1.8.1
          ports:
            - name: metrics
              containerPort: 9100
          resources:
            requests:
              cpu: 50m
              memory: 50Mi
          securityContext:
            privileged: true
      tolerations:
        - operator: Exists
