apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
  namespace: auth
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: auth
    spec:
      volumes:
        - name: app-code
          emptyDir: {}
        - name: jwt-keys
          secret:
            secretName: auth-jwt-keys
        - name: nginx-conf
          configMap:
            name: nginx-conf
        - name: phpfpm-conf
          configMap:
            name: phpfpm-conf
      initContainers:
        - name: source
          image: alslob/msa-sandbox:auth-source-latest
          imagePullPolicy: Always
          command: ["sh", "-c", "cp -a /origin/. /var/www/app/"]
          volumeMounts:
            - name: app-code
              mountPath: /var/www/app
          resources:
            requests:
              cpu: 10m
              memory: 64Mi
          securityContext:
            runAsUser: 0  # copy files as root to avoid permission issues
      containers:
        - name: app
          image: alslob/msa-sandbox:php-base-8.2
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 9000
          volumeMounts:
            - name: app-code
              mountPath: /var/www/app
            - name: jwt-keys
              mountPath: /var/www/app/config/jwt
              readOnly: true
            - name: phpfpm-conf
              mountPath: /usr/local/etc/php-fpm.d/www.conf
              subPath: www.conf
          envFrom:
            - configMapRef:
                name: app-general
            - secretRef:
                name: general-secret
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
          # readinessProbe:
          # livenessProbe:
        - name: nginx
          image: nginx:alpine
          ports:
            - containerPort: 80
              name: nginx
          volumeMounts:
            - name: app-code
              mountPath: /var/www/app
            - name: nginx-conf
              mountPath: /etc/nginx/conf.d/default.conf
              subPath: default.conf
        - name: phpfpm-metrics
          image: hipages/php-fpm_exporter:2.2.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 9253
              name: phpfpm-metrics
          env:
            - name: PHP_FPM_SCRAPE_URI
              value: tcp://127.0.0.1:9000/status
          readinessProbe:
            httpGet:
              path: /metrics
              port: 9253
            periodSeconds: 30
            timeoutSeconds: 2
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /
              port: 9253
            periodSeconds: 60
            timeoutSeconds: 2
            failureThreshold: 5
          resources:
            requests:
              cpu: 10m
              memory: 32Mi
